<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Application</title>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
</head>
<body>
    <div class="myheader">
        header
    </div>
  <div class="mycontainer clearfix">
      <div class="mynav">
          <ul>
              <li>
                  item1
              </li>
              <li>
                  item2
              </li>
          </ul>
      </div>

      <div class="mycontent">
          content
      </div>
  </div>
<div class="myright">
    rightBox
</div>
<div class="myfooter">
    footer
</div>
</body>
</html>
