<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Ad Application</title>
<style>
</style>
</head>
<body>
  <header>
    <div class="wrap">
      <h1>ThinkJS</h1>
    </div>
  </header>
  <div class="entry">
      <h1>{{model.title}}</h1>
      <div class="body">
          {{model.body}}
      </div>
  </div>
</body>
</html>
